section {
  padding-left: 20px;
}
.sectionTitle {
  display: flex;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}
.phoneBookWindow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.addFromInput {
  margin-top: 3px;
}
.addContactButton {
  padding: 10px;
  margin-bottom: 10px;
  background-color: lightblue;
}
.addContactButton:hover {
  background-color: rgb(96, 147, 243);
}
