.section {
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  padding-top: 20px;
  padding-left: 20px;
}
.loginFormWindow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 300px;
  border: 1px solid black;
  border-radius: 4px;
}
.loginBtn {
  margin-top: 10px;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: lightgray;
  color: rgb(55, 51, 51);
  padding: 1px 8px;
}
.loginBtn:hover {
  background-color: rgb(103, 98, 98);
  color: white;
}
