section {
  padding-left: 20px;
}
.sectionTitle {
  display: inline-flex;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}
.listItem {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 8px;
  margin-bottom: 4px;
}
button {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px 9px;
}
/* .filterBtn {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px;
  background-color: lightgray;
} */
.listItem {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nameField {
  width: 150px;
}
.numberField {
  width: 100px;
}
