section {
  padding-left: 20px;
}
.sectionTitle {
  display: inline-flex;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}
ul {
  list-style-type: none;
}
button {
  margin-left: 10px;
}
