.userMenuBlock {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}
.userMenuBtn {
  border: 1px solid rgb(77, 79, 80);
  border-radius: 4px;
  padding: 4px;
}
.userMenuBtn:hover {
  background-color: rgb(100, 151, 205);
}
.userMenuTitel {
  font-size: x-large;
}
